<ng-container *ngIf="(userState$ | async) as state" [ngSwitch]="state.appData">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" #searchForm="ngForm" (ngSubmit)="page(searchForm.value.name)">
          <input class="form-control me-2" type="text" name="name" ngModel placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>
  <ng-container *ngSwitchCase="'APP_ERROR'">
    {{state.error|json}}
  </ng-container>
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <span class="spinner-border text-primary">

    </span>
  </ng-container>

  <ng-container>


    <div class="container mt-5">
      <div class="list-group w-auto h-100 my-4 align-items-center d-flex"
        *ngFor="let user of state.appData.data.page.content">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img [src]="user.imageUrl" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{user.name}}</h6>
              <p class="mb-0 opacity-75">{{user.address}}</p>

              <div class="badge bg-{{user.status == '1'?'primary':'info'}} badge-primary fw-bold">{{(user.status ==
                '1') ?'Active':'Inactive'}}</div>
            </div>
            <small class="opacity-50 text-nowrap">now</small>
          </div>
        </a>

      </div>
      <nav aria-label="Page navigation example" *ngIf="state.appData.data.page.content.length>1">
        <form #selectForm="ngForm">

          <select class="form-select w-auto" [(ngModel)]="size" name="size"
            (change)="page(searchForm.value.name,0,size)">
            <option *ngFor="let pageNumber of [5,10,20,30,40,50,60,100]">
              {{pageNumber}}</option>

          </select>

        </form>
        <ul class="pagination justify-content-end">
          <li class="page-item " [ngClass]="0==(currentPage$|async)?' disabled':''">
            <a (click)="nextOrPrevious('backWard',searchForm.value.name)" class="page-link">Previous</a>
          </li>
          <li class="page-item" style="cursor: pointer"
            *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages);index as i"
            [ngClass]="(currentPage$|async)==i?'active':''"><a class="page-link"
              (click)="page(searchForm.value.name,i)">{{i+1}}</a></li>

          <li class="page-item" [ngClass]="(state.appData.data.page.totalPages-1)==(currentPage$|async)?' disabled':''">
            <a class="page-link" (click)="nextOrPrevious('forWard',searchForm.value.name)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">

      <div class="alert alert-info" *ngIf="state.appData.data.page.content.length<1">
        No user found
      </div>
    </div>

  </ng-container>

  <pre>

  {{userState$|async|json}}

</pre>
</ng-container>
